In [1]:
import kagglehub

Path to dataset files: /kaggle/input/dirty-dataset-to-practice-data-cleaning

In [2]:
import pandas as pd

In [10]:
df = pd.read_csv('/kaggle/input/dirty-dataset-to-practice-data-cleaning/my_file (1).csv')

In [11]:
print(df.head())

   Rank  Peak All Time Peak  Actual gross Adjusted gross (in 2022 dollars)  \
0     1     1             2  $780,000,000                     $780,000,000
1     2     1          7[2]  $579,800,000                     $579,800,000
2     3  1[4]          2[5]  $411,000,000                     $560,622,615
3     4  2[7]         10[7]  $397,300,000                     $454,751,555
4     5  2[4]           NaN  $345,675,146                     $402,844,849

         Artist                   Tour title    Year(s)  Shows Average gross  \
0  Taylor Swift              The Eras Tour †  2023–2024     56   $13,928,571
1       Beyoncé       Renaissance World Tour       2023     56   $10,353,571
2       Madonna  Sticky & Sweet Tour ‡[4][a]  2008–2009     85    $4,835,294
3          Pink  Beautiful Trauma World Tour  2018–2019    156    $2,546,795
4  Taylor Swift      Reputation Stadium Tour       2018     53    $6,522,173

  Ref.
0  [1]
1  [3]
2  [6]
3  [7]
4  [8]

In [12]:
print(df.shape)

(20, 11)

In [13]:
print(df.describe())

            Rank       Shows
count  20.000000   20.000000
mean   10.450000  110.000000
std     5.942488   66.507617
min     1.000000   41.000000
25%     5.750000   59.000000
50%    10.500000   87.000000
75%    15.250000  134.500000
max    20.000000  325.000000

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB
None

In [15]:
print(df.isnull().sum())

Rank                                 0
Peak                                11
All Time Peak                       14
Actual gross                         0
Adjusted gross (in 2022 dollars)     0
Artist                               0
Tour title                           0
Year(s)                              0
Shows                                0
Average gross                        0
Ref.                                 0
dtype: int64

In [17]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool